.dashboard {
  display: flex;
  flex-direction: column;
  background: rgb(54, 48, 74);
  background: linear-gradient(
    349deg,
    rgba(54, 48, 74, 0.6026785714285714) 0%,
    rgba(153, 188, 133, 0.47102591036414565) 100%
  );
  color: #000;
  height: 100%;
  > div {
    margin: 3rem 3rem;

    &:nth-child(1) {
      display: flex;
      justify-content: space-around;

      > div {
        &:nth-child(1) {
          div {
            display: flex;
            gap: 2rem;
          }
        }
        &:nth-child(2) {
          width: 30%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          h2 {
            color: #36304a;
            font-size: 24px;
            margin-bottom: 20px;
          }

          form {
            width: 100%;
            margin: 0 auto;
            border-radius: 5px;
            div {
              width: 100%;
              margin-top: 0.5rem;
            }

            label {
              display: block;
              font-weight: bold;
              margin-bottom: 5px;
              color: #36304a;
            }

            input[type="number"],
            input[type="text"],
            select {
              box-sizing: border-box;
              width: 100%;
              max-width: 100%;
              padding: 0.8rem;
              font-size: 1rem;
              border: 1px solid #ced4da;
              border-radius: 4px;
              background-color: #fff;
              transition: border-color 0.15s ease-in-out,
                box-shadow 0.15s ease-in-out;
              outline: none;
            }
            > button {
              margin-top: 1rem;
              width: 100%;
              height: 3rem;
              font-size: 1rem;
              border: 1px solid #9e9e9e;
              background-color: #36304a;
              color: #f2f1eb;
              cursor: pointer;
            }
          }
        }
      }
    }
    &:nth-child(2) {
      > table {
        width: 100%;
        border-collapse: collapse;
        background: #fff;
        border-radius: 1rem;
        overflow: hidden;
      }
      thead {
        background-color: #36304a;
        color: #fff;
        box-sizing: border-box;

        tr {
          height: 60px;
          padding: 1rem;
          th {
            text-align: left;
            padding-left: 2rem;
          }
        }
      }
      tbody {
        tr {
          font-size: 15px;
          color: gray;
          line-height: 1.2;
          font-weight: unset;
          &:nth-child(even) {
            background-color: #f2f2f2;
          }
          &:nth-child(odd) {
            background-color: #fff;
          }
          td {
            padding-left: 2rem;
          }
        }
      }
      .buttons {
        display: flex;
        margin: 1rem 0;
        button {
          width: 100%;
          height: 3rem;
          border: 1px solid #9e9e9e;
          background-color: #36304a;
          border-radius: 0.3rem;
          color: #f2f1eb;
          cursor: pointer;
          margin: 0 0.5rem;
        }
      }
      h2 {
        margin-top: 20px;
        font-size: 24px;
        color: #36304a;
      }
    }
  }
}
