.dashboard {
  display: flex;
  flex-direction: column;
  background: rgb(54, 48, 74);
  background: linear-gradient(349deg, rgba(54, 48, 74, 0.6026785714) 0%, rgba(153, 188, 133, 0.4710259104) 100%);
  color: #000;
  height: 100%;
}
.dashboard > div {
  margin: 3rem 3rem;
}
.dashboard > div:nth-child(1) {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 1200px) {
  .dashboard > div:nth-child(1) {
    flex-direction: column;
  }
}
.dashboard > div:nth-child(1) > div:nth-child(1) div {
  display: flex;
  gap: 2rem;
  justify-content: center;
}
@media (max-width: 850px) {
  .dashboard > div:nth-child(1) > div:nth-child(1) div {
    flex-direction: column;
    align-items: center;
  }
}
.dashboard > div:nth-child(1) > div:nth-child(2) {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
@media (max-width: 1200px) {
  .dashboard > div:nth-child(1) > div:nth-child(2) {
    width: 100%;
  }
  .dashboard > div:nth-child(1) > div:nth-child(2) form {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
  }
}
.dashboard > div:nth-child(1) > div:nth-child(2) h2 {
  color: #36304a;
  font-size: 24px;
  margin-bottom: 20px;
}
.dashboard > div:nth-child(1) > div:nth-child(2) form {
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
}
@media (max-width: 1200px) {
  .dashboard > div:nth-child(1) > div:nth-child(2) form div {
    margin-top: 0rem;
  }
}
.dashboard > div:nth-child(1) > div:nth-child(2) form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #36304a;
}
.dashboard > div:nth-child(1) > div:nth-child(2) form input[type=number],
.dashboard > div:nth-child(1) > div:nth-child(2) form input[type=text],
.dashboard > div:nth-child(1) > div:nth-child(2) form select {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #fff;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none;
}
.dashboard > div:nth-child(1) > div:nth-child(2) form > button {
  margin-top: 1rem;
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  border: 1px solid #9e9e9e;
  background-color: #36304a;
  color: #f2f1eb;
  border-radius: 4px;
  cursor: pointer;
}
.dashboard > div:nth-child(2) > table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 1rem;
  overflow: hidden;
}
.dashboard > div:nth-child(2) thead {
  background-color: #36304a;
  color: #fff;
  box-sizing: border-box;
}
.dashboard > div:nth-child(2) thead tr {
  height: 60px;
  padding: 1rem;
}
.dashboard > div:nth-child(2) thead tr th {
  text-align: left;
  padding-left: 2rem;
}
.dashboard > div:nth-child(2) tbody tr {
  font-size: 15px;
  color: gray;
  line-height: 1.2;
  font-weight: unset;
}
.dashboard > div:nth-child(2) tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
.dashboard > div:nth-child(2) tbody tr:nth-child(odd) {
  background-color: #fff;
}
.dashboard > div:nth-child(2) tbody tr td {
  padding-left: 2rem;
}
.dashboard > div:nth-child(2) .buttons {
  display: flex;
  margin: 1rem 0;
}
.dashboard > div:nth-child(2) .buttons button {
  width: 100%;
  height: 3rem;
  border: 1px solid #9e9e9e;
  background-color: #36304a;
  border-radius: 0.3rem;
  color: #f2f1eb;
  cursor: pointer;
  margin: 0 0.5rem;
}
.dashboard > div:nth-child(2) div {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.dashboard > div:nth-child(2) div h2 {
  margin-top: 20px;
  font-size: 24px;
  color: #36304a;
}

.react-datepicker-wrapper {
  width: 100%;
  margin-top: 0.5rem;
}

.customInput {
  width: 100%;
  margin-top: 0.5rem;
}

.modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  margin: 0 !important;
}
.modal .modal-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  z-index: 1000;
}
.modal .modal-content div {
  display: flex;
  margin-top: 2rem;
}
.modal .modal-content select {
  margin-bottom: 1rem;
}
.modal .modal-content label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #36304a;
}
.modal button {
  width: 100%;
  height: 3rem;
  border: 1px solid #9e9e9e;
  background-color: #36304a;
  border-radius: 0.3rem;
  color: #f2f1eb;
  cursor: pointer;
  margin: 0 0.5rem;
}
.modal input[type=number],
.modal input[type=text],
.modal select {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  padding: 0.8rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #fff;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none;
}/*# sourceMappingURL=dashboard.css.map */